.home{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    animation: bg .4s ease;
}
@keyframes bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.home__content{
    display: flex;
    flex-direction: column-reverse;
}

.home__hello{
    font-size: 7rem;
    font-weight: 700;
}

.home__img{
    display: block;
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
}

@media screen and (min-width: 1085px) {
    .home{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .home__content{
        display: flex;    
        flex-direction: row;
        align-items: center;
    }
    .home__text{
        margin-bottom: 25%;
    }
    .home__hello{
        font-size: 10rem;
    }
    .home__img {
        max-width: 700px;
        max-height: 90vh;
    }
}
